.section {
  padding: 50px 0;
}

.section.full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* център вертикално */
  min-height: 90vh;        /* за да има височина */
  transform: translateX(130px); /* 👉 мести надясно */
}

.section.full-height .container {
  display: flex;
  flex-direction: column;
}

.section.full-height .container .logo {
  margin: auto 0;
}

.container {
  max-width: 1400px;
  margin: 36px auto;
  padding: 0 16px;
}

main {
  display: flex;
  flex-direction: column;
}

form {
  height: auto;
  width: 400px;
  background: linear-gradient(
          135deg,
          #fbe5b2,
          #ffbfbd,
          #fdb0c3,
          #fbe5b2,
  );
  border-radius: 26px;
  backdrop-filter: blur(14px);
  border: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 35px rgba(122, 69, 103, 0.18);
  padding: 36px 35px;
  align-self: center;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  margin: auto;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input, select {
  display: block;
  height: 50px;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

select {
  width: 100%;
}

option {
  background-color: #001F40FF;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 50px;
  width: 100%;

  background: linear-gradient(
          145deg,
          #3e2f0d,
          #b8962e,
          #f0d97a,
          #a17c1a,
          #3e2f0d
  );

  color: #0b1d3a;

  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;

  border-radius: 8px;
  cursor: pointer;

  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow:
          inset 0 2px 3px rgba(255, 255, 255, 0.25),  /* горен блясък */
          inset 0 -2px 5px rgba(0, 0, 0, 0.4),        /* долна сянка */
          0 8px 20px rgba(0, 0, 0, 0.35);             /* външна сянка */

  transition: all 0.25s ease;
}

button:hover {
  transform: translateY(-3px) scale(1.03);

  background: linear-gradient(
          145deg,
          #4a390e,
          #c9a63a,
          #ffe08a,
          #b8962e,
          #4a390e
  );

  box-shadow:
          inset 0 3px 5px rgba(255, 255, 255, 0.35),
          inset 0 -3px 6px rgba(0, 0, 0, 0.5),
          0 12px 30px rgba(0, 0, 0, 0.5),
          0 0 15px rgba(184, 150, 46, 0.4);
}

input, select {
  transition: all .2s;
}

input:hover, select:hover {
  box-shadow: 0 1px 12px rgba(255, 255, 255, 0.5); /* Inset shadow with transparency */
}

.form-already {
  color: #e5e5e5;
  font-weight: 300;
  text-align: center;
  font-size: 12px;
  margin: 20px auto auto;
}

.form-already a {
  text-decoration: none;
  transition: 0.4s ease;

  background: linear-gradient(
          135deg,
          #8c6b1f,
          #c9a63a,
          #e6c55c,
          #a17c1a,
          #6e5315
  );

  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-already a:hover {
  background-position: 100% center;
  text-shadow: 0 0 6px rgba(184, 150, 46, 0.4);
}