<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/home-common.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/subscription-history.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Transactions</title>
</head>

<body>
<main>
    <div th:replace="~{fragments/admin-sidebar :: adminSidebar('currencies')}"></div>

    <div class="home-section">
        <div class="single-section-box subscriptions-container">

            <div class="table-header admin-table-header">

                <div class="table-actions">
                    <form th:action="@{/admin/currencies/add}" method="post" class="add-inline-form">
                        <input type="text"
                               name="currencyShort"
                               placeholder="Short name"
                               required>

                        <input type="text"
                               name="currency"
                               placeholder="Currency name"
                               required>

                        <button type="submit" class="btn add-btn">+ Add Currency</button>
                    </form>
                </div>
            </div>

            <table class="styled-table">
                <thead>
                <tr>
                    <th>CURRENCY ID</th>
                    <th>Currency Short</th>
                    <th>Currency Name</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="c : ${currencies}">

                    <td th:text="${c.id}">1</td>

                    <td th:text="${c.currencyShort}">BGN</td>

                    <td th:text="${c.currency}">Bulgarian Lev</td>

                    <td class="action-buttons">
                        <a th:href="@{/admin/currencies/delete/{id}(id=${c.id})}"
                           class="btn delete-btn"
                           onclick="return confirm('Are you sure?')">
                            Delete
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</main>
<div class="footer"><p>© 2026 BSA Bank. All rights reserved.</p></div>
<script>
    function enableEdit(button) {
        const row = button.closest("tr");

        const inputs = row.querySelectorAll(".edit-input");
        inputs.forEach(input => input.disabled = false);

        button.style.display = "none";

        const saveBtn = row.querySelector(".save-btn");
        saveBtn.style.display = "inline-block";
    }

    function toggleFilters() {
        const panel = document.getElementById("filtersPanel");
        panel.style.display = panel.style.display === "none" ? "block" : "none";
    }
</script>
</body>
</html>